body { font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size:14px;line-height:1.4; }

h1 { font-size:2.5em; }
h2 { font-size:2em; }
h3 { font-size:1.8em; }
h4 { font-size:1.4em; }
h5 { font-size:1.2em; }
h6 { font-size:1em; }

a {
  text-decoration:underline;color:#0088CC;
  &:hover, &:focus { color:#005580; }
  &:focus { outline:none; }
}

.clear { clear:both;height:1px;line-height:1px;font-size:1px; }
.img-rounded { border-radius:4px; }

/* MAIN RULE */
.container { width:980px; }

/* HEADER */
header {
  height:90px;
  .logo {
    margin:0;padding-top:15px;font-size:2.5em;line-height:1;font-weight:bold;
    a {
      color:#333333;text-decoration:none;
      &:hover { color:#000;text-decoration:none; }
    }
  }
  .form-search { float:right;padding-top:25px; }
  input.search-query { width:250px;border-radius:4px;padding-left:6px;padding-right:6px; }
}

.info { margin-top:30px; }

/* CONTENT */
.path {
  ul {
    list-style:none;margin:0;padding:0;
    li {
      margin:0;padding:0;display:inline-block;font-size:12px;
      &:before { content:" > ";font-size:14px;font-family:Verdana,Tahoma; }
      &:first-child:before { content:""; }
    }
  }
}
h1.page-title { margin:0 0 15px;line-height:1; }

/* FOOTER */
footer {
  height:75px;line-height:1.2;
  .stat{ float:right; }
}

/* FORMS */
input, select, button, textarea{font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size:14px;vertical-align:baseline !important;}
textarea{vertical-align:top !important;}
legend{position:relative;padding:0 0 5px;margin:0 0 20px;font-size:1.6em;line-height:1.2;}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, .btn:focus{outline:none;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {border:1px solid #A1A1A1;box-shadow:inset 0px 1px 4px rgba(0, 0, 0, 0.15);}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{border:1px solid #B94A48;box-shadow:none;}


/*
@media (min-width:768px) and (max-width:979px){
  
}

@media (max-width:767px){
  
}
*/