/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build
/vendor
/bin
/composer.phar
/build.local.properties
*~
/.idea
/.sync
/.composer
/.vagrant
/github-oauth.txt
/phpunit.xml
