/* SOCIAL */
.social {
  margin-top:10px;
  a {
    display:inline-block;width:26px;height:26px;margin-right:19px;background:url(../img/icon-social.png) no-repeat;
    &.linked { background-position:-37px 0; }
    &.facebook { background-position:-74px 0; }
    &:hover {background-position:0 -26px; }
    &:hover.linked { background-position:-37px -26px; }
    &:hover.facebook { background-position:-74px -26px; }
  }
}