/* NAVIGATION BAR */
.nav-style {
  background-color:#FFFFFF;border-radius:4px;box-shadow:0px 1px 4px rgba(0, 0, 0, 0.063);margin:0;padding:0;
  li {
    a { line-height:1.2;padding:8px 14px;text-decoration:none;text-shadow:none; }
    &.active > a { color:#fff; }
  }
  > li {
    > a { border:1px solid #E5E5E5;display:block;margin:0px 0px -1px; }
    &:first-child > a { border-radius:4px 4px 0px 0px; }
    &:last-child > a { border-radius:0px 0px 4px 4px; }
    &.active > a { border:none;box-shadow:inset 1px 0px 0px rgba(0, 0, 0, 0.102), inset -1px 0px 0px rgba(0, 0, 0, 0.102);padding:9px 15px;position:relative;z-index:2;text-shadow:none;background:#0088CC; }
    &:hover > a:after { border-left:5px solid #0088CC; }
    &.active > a:after { border-left:5px solid #ffffff; }
  }
}

.dropdown-submenu {
  a:hover, &:hover a { font-weight:normal; }
  > a:after { margin-right:-5px;margin-top:3px; }
  > .dropdown-menu {
    border-radius:0px 4px 4px;
    > li {
      > a { padding:9px 15px;color:#0088CC; }
    }
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, &:hover > a, &:focus > a { background:#EEEEEE;color:#005580;filter:none; }
  &.active > a { color:#ffffff;background:#0088CC;filter:none; }
  &.active:hover > a { background:#0088CC;color:#ffffff;filter:none; }
}